{% extends 'home/base.html' %} {% block content %}

{% if messages %}
<div class="sticky-top" style="top: 90px;">
<div class="container ps-0 pe-0 ms-0">
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                <b>{{ message }}</b>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
        {% endfor %}
    </div>
</div>
</div>
{% endif %}

<div class="container d-flex justify-content-center" style="margin-top: 175px;">
    <div class="card post-background" style="width: 35rem; border-radius: 25px;">
        <div class="card-header text-center">
            <h2 class="mt-2 mb-2 michroma-regular"><b>Login</b></h2>
        </div>
        <div class="card-body">
            <div class="container ps-5 pe-5 d-flex justify-content-center align-items-center">
                <form method="post">
                    {% csrf_token %} 
                    <div class="row mb-3">
                      <label for="id_username" class="form-label">Username</label>
                      <input class="form-control" id="id_username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="">
                    </div>
                    <div class="row mb-3">
                      <label for="id_password" class="form-label">Password</label>
                      <input id="id_password" class="form-control" type="password" name="password" autocomplete="current-password" required="">
                    </div>
                    <div class="row mt-5">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="row mt-5 text-center">
                        <p>New? <a href="{% url 'signup' %}">Create an account</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').alert('close');
        }, 5000); // 5 seconds timeout
    });
</script>

{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html> -->
