
/* body.body-background {
  background-color: #1e2a2f;
}

.follow-background {
  background-color: #1e2a2f !important;
}


.post-background {
  background-color: #28373e !important;
}


.nav-background {
  background-color: #141c1f;
}
 */


/*
DARK #1
body: #181818 
post: #212121
nav:  #212121
*/

.profile-sticky-header {
  transition: top 1s ease-in-out !important;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, h1, h2, a {
  font-family: "Rubik", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f1f1f1;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.explore-post {
  width: 300px !important;
  height: 300px !important;
}


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.follower-container {
  width: 100px;
  height: 75px;
  border-radius: 15px;
  background-color: #101010; /* Initial background color */
  transition: background-color 0.3s ease;
}
.follower-container:hover {
  background-color: #303030; /* Background color when hovered */
}

.post-container {
  transition: transform 0.2s ease
}

.post-container:hover {
  transform: scale(1.05)
}

.search-result {
  height: 65px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.search-result:hover {
  background-color: #303030;
}

.like-bar {
  margin-left: 5px !important;
}

.profile-top {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 150px !important; /* Default margin for small screens */
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}



.profile-bottom {
  padding-left: 150px !important;
}

@media (max-width: 768px) {
  .profile-top {
    padding-left: 10px !important; /* Margin for screens wider than 768px */
  }

  .profile-bottom {
    padding-left: 30px !important; /* Margin for screens wider than 768px */
  }

  .like-bar {
    margin-left: 0px !important;
  }

  .explore-post {
    width: 400px !important;
    height: 200px !important;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .profile-edit-btn {
    display: none !important;
  }
}

.body-background {
  background-color: #101010;
}


body.body-background {
  background-color: #101010;
}

.svg-background {
  fill: #181818 !important;
}

.svg-body-background {
  fill: #101010;
}

.follow-background {
  background-color: #000000 !important;
}

.post-background {
  background-color: #181818 !important;
}

.nav-background {
  background-color: #181818;
}
