{% extends "home/base.html" %} {% block content %}

<div class="sticky-top" style="top: 71px;">
  <div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center body-background" style="height: 60px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
      <div class="col-auto">
        <a href="{% url 'profile' user.profile.pk %}"
          ><i
            class="fa-solid fa-circle-chevron-left fa-2xl"
            style="color: white"
          ></i
        ></a>
      </div>
      <div class="col ps-0">
        <h2 class="rubik-bold mb-0 text-center pe-5">Edit Profile</h2>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="card" style="width: 35rem; background-image: linear-gradient(to top, #101010, {{ user.profile.pic_color}}); border-radius: 25px">
    <div class="card-body">
      <div class="row mt-2 mb-2" style="z-index: 100">
        <div class="col-auto d-flex justify-content-center align-items-center">
          {% if user.profile.profile_picture %}
          <img
            class="rounded-circle shadow-lg profile-pic"
            src="{{ user.profile.profile_picture.url }}"
            alt="Profile Picture"
          />
          {% endif %}
        </div>
        <div class="col d-flex align-items-center me-1 ps-0">
          <div class="container ps-2 pe-2">
            <h1
              class="w-100 mt-2 mb-0 rubik-bold text-wrap"
              style="word-wrap: break-word; word-break: break-word"
            >
              {{ user.username }}
            </h1>
            {% if user.profile.name %}
            <p
              class="text-wrap mb-2"
              style="white-space: normal; word-wrap: break-word; max-width: 210px;"
            >
              {{ user.profile.name }}
            </p>
            {% endif %} 
            {% if user.profile.bio %}
            <p
              class="text-wrap mt-2"
              style="white-space: normal; word-wrap: break-word; max-width: 210px"
            >
              {{ user.profile.bio }}
            </p>
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center" style="margin-top: 20px">
  <div class="card post-background" style="width: 35rem; border-radius: 25px">
    <div class="card-body">
      <div
        class="container mt-3 d-flex justify-content-center align-items-center"
      >
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="id_profile_picture" class="form-label rubik-bold"
              >Profile Picture</label
            >
            <input
              class="form-control"
              id="id_profile_picture"
              type="file"
              name="profile_picture"
              accept="image/"
              style="border-color: #101010;"
            />
          </div>
          <!-- {% if not is_default_pic %}
                  <div class="row mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="profile_picture-clear" id="profile_picture-clear_id">
                      <label class="form-check-label" for="profile_picture-clear_id">
                        Clear
                      </label>
                    </div>
                  </div>
                  {% endif %} -->
                  <div class="row mb-3">
            <label for="id_name" class="form-label rubik-bold">Name</label>
            <input
              id="id_name"
              class="form-control rubik-regular"
              type="text"
              name="name"
              rows="1"
              maxlength="20"
              style="border-color: #101010;"
            />
          </div>
          <div class="row mb-3">
            <label for="id_bio" class="form-label rubik-bold">Bio</label>
            <input
              id="id_bio"
              class="form-control rubik-regular"
              type="text"
              name="bio"
              rows="1"
              maxlength="50"
              style="border-color: #101010;"
            />
          </div>
          <div class="row mt-5">
            <button class="btn btn-primary rubik-bold" type="submit">Save Changes</button>
          </div>
          <div class="row mt-3 mb-4">
            <a href="{% url 'profile' user.profile.pk %}" class="ps-0 pe-0"
              ><button type="button" class="btn btn-outline-secondary w-100 rubik-bold">
                Cancel
              </button></a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
