{% extends 'home/base.html' %} {% block content %}

<div class="sticky-top" style="top: 72px">
  <div class="container mt-3 mb-3">
    <div
      class="row d-flex align-items-center body-background"
      style="height: 60px"
    >
      <div class="col-auto">
        <a href="{% url 'profile' profile.pk %}"
          ><i
            class="fa-solid fa-circle-chevron-left fa-2xl"
            style="color: white"
          ></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2 ps-0 pe-0" style="max-width: 27rem">
  <div class="card post-background" style="height: 130px; border-radius: 25px;">
    <div class="card-body pb-2 d-flex align-items-center justify-content-center flex-column">
      <div class="text-center w-100 mb-3">
        <h2><b>{{ profile.user.username }}</b></h2>
      </div>
      <div class="w-100">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs w-100 rounded-bottom" id="myTab" role="tablist" style="border-radius: 0 0 25px 25px; overflow: hidden;">
          <li class="nav-item flex-grow-1" role="presentation">
            <button class="nav-link w-100 rubik-bold" id="follower-tab" data-bs-toggle="tab" data-bs-target="#follower" type="button" role="tab" aria-controls="follower" aria-selected="false" style="color: gray;">
              Followers
            </button>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <button class="nav-link active w-100 rubik-bold" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="true" style="color: gray;">
              Following
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <!-- Followers Tab -->
  <div class="tab-pane" id="follower" role="tabpanel" aria-labelledby="follower-tab" tabindex="0">
    {% if followers %}
      <div class="container mt-3 ps-0 pe-0" style="max-width: 27rem; max-height: 800px;">
        <div class="card post-background" style="border-radius: 25px;">
          <div class="card-body">
            {% for profile in followers %}
              <a href="{% url 'profile' profile.pk %}" style="color: lightgray; text-decoration: none">
                <div class="search-result">
                  <div class="row w-100 d-flex align-items-center">
                    <div class="col-auto ps-4">
                      <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover" src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                    </div>
                    <div class="col-auto ps-0">
                      <div>
                        <b>{{ profile.user.username }}</b>
                      </div>
                    </div>
                    {% if profile != user.profile %}
                      <div class="col-auto d-flex ms-auto pe-0">
                        <form id="followForm{{ profile.pk }}" onsubmit="event.preventDefault(); followUser('{{ profile.pk }}')">
                          {% csrf_token %}
                          <button type="submit" id="followBtn_{{ profile.pk }}" class="btn btn-outline-primary follow-btn user-{{ profile.pk }}">
                            {% if profile.is_followed %}
                              <b class="rubik-bold">Following</b>
                            {% else %}
                              <b class="rubik-bold">Follow</b>
                            {% endif %}
                          </button>
                        </form>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <h4 class="text-center"><b>No followers</b></h4>
    {% endif %}
  </div>

  <!-- Following Tab -->
  <div class="tab-pane active" id="following" role="tabpanel" aria-labelledby="following-tab" tabindex="0">
    {% if following %}
      <div class="container mt-3 ps-0 pe-0" style="max-width: 27rem; max-height: 800px;">
        <div class="card post-background" style="border-radius: 25px;">
          <div class="card-body">
            {% for profile in following %}
              <a href="{% url 'profile' profile.pk %}" style="color: lightgray; text-decoration: none">
                <div class="search-result">
                  <div class="row w-100 d-flex align-items-center">
                    <div class="col-auto ps-4">
                      <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover" src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                    </div>
                    <div class="col-auto ps-0">
                      <div>
                        <b>{{ profile.user.username }}</b>
                      </div>
                    </div>
                    {% if profile != user.profile %}
                      <div class="col-auto d-flex ms-auto pe-0">
                        <form id="followForm{{ profile.pk }}" onsubmit="event.preventDefault(); followUser('{{ profile.pk }}')">
                          {% csrf_token %}
                          <button type="submit" id="followBtn_{{ profile.pk }}" class="btn btn-outline-primary follow-btn user-{{ profile.pk }}">
                            {% if profile.is_followed %}
                              <b class="rubik-bold">Following</b>
                            {% else %}
                              <b class="rubik-bold">Follow</b>
                            {% endif %}
                          </button>
                        </form>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <h4 class="text-center"><b>No following</b></h4>
    {% endif %}
  </div>
</div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function followUser(userId) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'follow_user_index' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'user_id': userId,
            },
            success: function(response) {
                var buttons = document.querySelectorAll(".user-" + userId);
                if (response.follows) {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b class="rubik-bold">Following</b>';
                    });
                } else {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b class="rubik-bold">Follow</b>';
                    });
                }
            },
            error: function(xhr, status, error) {
            console.error(xhr.responseText);
            }
        });
    }
</script>

{% endblock %}
