{% extends 'home/base.html' %}

{% block content %}

<div class="container ps-0 pe-0">

    <!-- <div class="card mb-4" style="height: 220px; background-color:  #28373e;">
        <div class="card-body d-flex align-items-center justify-content-center">
            <h1><b>My Feed</b></h1>
        </div>
    </div> -->

    {% if messages %}
    <div class="sticky-top" style="top: 90px;">
    <div class="container d-flex justify-content-center ps-0 pe-0 ms-0">
        <div class="messages" style="width: 50rem;">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
            {% endfor %}
        </div>
    </div>
    </div>
    {% endif %}

    {% if following_posts %}
    {% for post in following_posts %}
    <div class="row d-flex align-items-center justify-content-center mb-3">
        <div class="card ps-0 pe-0 post-background" style="width: 50rem; border-radius: 15px;">
            <div class="card-header pt-2 pb-2">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <a href="{% url 'profile' post.author.pk %}">
                        <img
                        class="rounded-circle"
                        style="height: 40px; width: 40px;  object-fit: cover;"
                        src="{{ post.author.profile_picture.url }}"
                        alt="Author Profile Picture"
                        />
                        </a>
                    </div>
                    <div class="col ms-0 ps-0">
                        <a href="{% url 'profile' post.author.pk %}" class="username-small"><b>{{ post.author }}</b></a>
                    </div>
                </div>
            </div>
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image" style="max-height: 500px; object-fit: contain; background-color: black;">
            <div class="card-body">
                <div class="row like-bar">
                    <div class="col-auto ps-0 pe-0">
                        <form id="likeForm{{ post.id }}" onsubmit="event.preventDefault(); likePost('{{ post.id }}')">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="likeBtn_{{ post.id }}" class="like-btn ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_liked %}
                                        <i class="fa-solid fa-heart fa-xl" style="color: red;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-xl" style="color: white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <i class="fa-regular fa-heart fa-xl" style="color: white"></i> -->
                    </div>
                    <div class="col">
                        <!-- <a href="{% url 'post_detail' post.author.pk post.pk %}"><i class="fa-regular fa-comment fa-xl" style="color: white;"></i></a> -->
                        <i class="fa-regular fa-comment fa-xl" id="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#commentsModal{{ post.id }}" style="color: white;"></i>
                    </div>
                    <div class="col d-flex align-items-center">
                        <form id="saveForm{{ post.id }}" onsubmit="event.preventDefault(); savePost('{{ post.id }}')" class="d-flex float-end ms-auto">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="saveBtn_{{ post.id }}" class="ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_saved %}
                                        <i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <button class="d-flex float-end ms-auto" style="background: none; border: none;"><i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i></button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {% if post.total_likes == 0 %}
                        <p class="mt-2 mb-0" id="likeCount_{{ post.id }}" data-bs-toggle="modal" data-bs-target="#likesModal{{ post.id }}"></p>
                        {% else %}
                        <button type="button" id="likeCount_{{ post.id }}" class="ps-0 mt-2" data-bs-toggle="modal" data-bs-target="#likesModal{{ post.id }}" style="background: transparent; border: none; color: lightgray;">
                            <b>{{ post.total_likes }} {% if post.total_likes == 1 %} like {% else %} likes {% endif %}</b>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if post.caption %}
                        <a href="{% url 'profile' post.author.pk %}" class="username-small"><p class="card-text mt-1 mb-1"><b>{{ post.author }}</b></a> {{ post.caption }}</p>
                    {% endif %}
                    {% if post.comments_list %}
                        {% if post.total_comments > 2 %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-1" style="color: gray;">View all {{ post.total_comments }} comments</p></a>
                        {% else %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-1" style="color: gray;">View all comments</p></a>
                        {% endif %}
                        {% for comment in post.comments_list|slice:":2" %}
                            <a href="{% url 'profile' comment.author.pk %}" class="username-small"><p class="card-text mt-0 mb-0"><b>{{ comment.author }}</b></a> {{ comment.text }}</p>
                        {% endfor %}
                    {% else %}
                    <div class="row d-flex align-items-center mt-2 mb-1">
                        <div class="col-auto d-flex align-items-center">
                            <img
                            class="rounded-circle"
                            style="height: 20px; width: 20px;  object-fit: cover;"
                            src="{{ user.profile.profile_picture.url }}"
                            alt="User Comment Profile Picture"
                            />
                        </div>
                        <div class="col ms-0 ps-0">
                            <p class="mb-0" id="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#commentsModal{{ post.id }}" style="color: gray;">Add a comment</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row d-flex align-items-center mt-1">
                    <p class="card-text d-flex" style="color: gray;">{{ post.created_on|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
        <!-- Likes Modal -->
        <div class="modal" id="likesModal{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content" style="background-color: #101010; color: white; max-height:500px; border-radius: 15px;">
                <div class="modal-header" style="border: none;">
                  <h1 class="modal-title fs-5 ms-3" id="exampleModalLabel"><b>Likes</b></h1>
                  <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close" style="filter: invert(1);"></button>
                </div>
                <div class="modal-body">
                    {% for user in post.liked_users %}
                    <a href="{% url 'profile' user.profile.pk %}" style="color: lightgray; text-decoration: none">
                        <div class="search-result">
                            <div class="row w-100 d-flex align-items-center">
                                <div class="col-auto ps-4">
                                    <img
                                        class="rounded-circle"
                                        style="height: 50px; width: 50px; object-fit: cover"
                                        src="{{ user.profile.profile_picture.url }}"
                                        alt="Profile Picture"
                                    />
                                </div>
                                <div class="col-auto">
                                    <div>
                                        <b class="username-small">{{ user.username }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="modal-footer" style="border: none;">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Close</b></button>
                </div>
              </div>
            </div>
        </div>

        <!-- Comments Modal -->
        <div class="modal" id="commentsModal{{ post.id }}" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content" style="background-color: #101010; color: white; max-height:500px; border-radius: 15px;">
                <div class="modal-header" style="border: none;">
                  <h1 class="modal-title fs-5 ms-3" id="commentsModalLabel"><b>Comments</b></h1>
                  <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close" style="filter: invert(1);"></button>
                </div>
                <div class="modal-body">
                    {% if post.caption %}
                        <div class="row mt-0 ms-3 me-3 d-flex">
                            <div class="col-auto ps-0">
                            <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover;" src="{{ post.author.profile_picture.url }}" alt="Author Profile Picture"/>
                            </div>
                        <div class="col ps-0 pe-0" style="max-width: 300px;">
                        <a href="{% url 'profile' post.author.pk %}" class="username-small"><b>{{ post.author }}</b></a>
                        <p>{{ post.caption }}</p>
                        </div>
                        <hr/>
                        </div>
                    {% endif %}
                    {% for comment in post.comments_list %}
                        <div class="row ms-3 me-3 mt-3 mb-3 d-flex" style="height: 60px">
                            <div class="col-auto ps-0">
                                <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover;" src="{{ comment.author.profile.profile_picture.url }}" alt="Comment Author Profile Picture"/>
                            </div>
                            <div class="col ps-0 pe-0" style="max-width: 300px;">
                                <a href="{% url 'profile' comment.author.pk %}" class="username-small"><b>{{ comment.author.username }}</b></a>
                                <p>{{ comment.text }}</p>
                            </div>
                            {% if user == comment.author or user == post.author.user %}
                            <div class="col-auto">
                                <form action="{% url 'delete_comment' post.author.pk post.pk comment.pk %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm mt-2"><i class="fa-solid fa-trash" style="color:white;"></i></button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        {% empty %}
                        <div class="row text-center mt-5 mb-5">
                            <h5 class="rubik-bold">No comments yet.</h5>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer" style="border: none;">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Close</b></button> -->
                  <div class="row w-100 mt-4 ms-3 me-3">
                    <form method="post" id="commentForm-{{ post.id }}">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <div class="col-9 ps-2 pe-0">
                          <input id="id_text" class="form-control" type="text" name="text" rows="1" placeholder="Leave a Comment" required="">
                        </div>
                        <div class="col-3 ps-1 pe-2">
                          <button class="btn btn-outline-primary w-100" type="submit"><i class="fa-solid fa-arrow-up"></i></button>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
    
    {% endif %}
    <div class="container d-flex align-items-center justify-content-center ps-0 pe-0">
        <div class="card mb-3 post-background" style="width: 50rem; height: 220px; border-radius: 25px;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center text-center">
                <i class="fa-solid fa-circle-check fa-3x mb-3"></i>
                <h2 class="rubik-bold">You're all caught up!</h2>
            </div>
        </div>
    </div>
            <!-- <div>
                 <p>Find friends on the <a href="{% url 'explore' %}" style="color: white;">explore</a> page!</p>
                <p>When users you follow post something, it will appear here.</p>
            </div> -->

    {% for post in not_following_posts %}
    <div class="row d-flex align-items-center justify-content-center mb-3">
        <div class="card ps-0 pe-0 post-background" style="width: 50rem; border-radius: 25px;">
            <div class="card-header pt-2 pb-2">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <a href="{% url 'profile' post.author.pk %}">
                        <img
                        class="rounded-circle"
                        style="height: 40px; width: 40px;  object-fit: cover;"
                        src="{{ post.author.profile_picture.url }}"
                        alt="Author Profile Picture"
                        />
                        </a>
                    </div>
                    <div class="col ms-0 ps-0">
                        <a href="{% url 'profile' post.author.pk %}" class="rubik-bold username-small">{{ post.author }}</a>
                    </div>
                    <div class="col-auto">
                        <form id="followForm{{ post.author.pk }}" onsubmit="event.preventDefault(); followUser('{{ post.author.pk }}')">
                            {% csrf_token %}
                            <button type="submit" id="followBtn_{{ post.author.pk }}" class="btn btn-outline-secondary follow-btn user-{{ post.author.pk }}" style="border-radius: 15px;">
                                <b class="rubik-bold">Follow</b>
                            </button>
                        </form>
                        <!-- <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary"><b>Follow</b></a> -->
                    </div>
                </div>
            </div>
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image" style="max-height: 600px; object-fit: contain; background-color: black;">
            <div class="card-body">
                <div class="row like-bar">
                    <div class="col-auto ps-0 pe-0">
                        <form id="likeForm{{ post.id }}" onsubmit="event.preventDefault(); likePost('{{ post.id }}')">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="likeBtn_{{ post.id }}" class="like-btn ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_liked %}
                                        <i class="fa-solid fa-heart fa-xl" style="color: red;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-xl" style="color: white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <i class="fa-regular fa-heart fa-xl" style="color: white"></i> -->
                    </div>
                    <div class="col">
                        <a href="{% url 'post_detail' post.author.pk post.pk %}"><i class="fa-regular fa-comment fa-xl" style="color: white;"></i></a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <form id="saveForm{{ post.id }}" onsubmit="event.preventDefault(); savePost('{{ post.id }}')" class="d-flex float-end ms-auto">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="saveBtn_{{ post.id }}" class="ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_saved %}
                                        <i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {% if post.total_likes == 0 %}
                        <p class="mt-2 mb-0" id="{{ post.id }}"></p>
                        {% else %}
                            {% if post.total_likes == 1 %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} like</b></p>
                            {% else %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} likes</b></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if post.caption %}
                        <a href="{% url 'profile' post.author.pk %}" class="username-small"><p class="card-text mt-1 mb-1"><b>{{ post.author }}</b></a> {{ post.caption }}</p>
                    {% endif %}
                    {% if post.comments_list %}
                        {% if post.total_comments > 2 %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-0" style="color: gray;">View all {{ post.total_comments }} comments</p></a>
                        {% else %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color: gray; text-decoration: none;"><p class="mb-0" style="color: gray;">View all comments</p></a>
                        {% endif %}
                        {% for comment in post.comments_list|slice:":2" %}
                            <a href="{% url 'profile' comment.author.pk %}" class="username-small"><p class="card-text mt-1 mb-0"><b>{{ comment.author }}</b></a> {{ comment.text }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row d-flex align-items-center mt-1">
                    <p class="card-text d-flex" style="color: gray;">{{ post.created_on|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<!-- <script>
    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    document.addEventListener('DOMContentLoaded', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        setTimeout(() => {
            window.scrollTo(0, scrollPosition || 0);
        }, 100); // Adjust the delay as needed
    });
</script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function likePost(postId) {
    event.preventDefault();  // Prevent default form submission
    $.ajax({
        type: "POST",
        url: "{% url 'like_post_index' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'post_id': postId,
        },
        success: function(response) {
            if (response.liked) {
                $("#likeBtn_" + postId).html('<i class="fa-solid fa-heart fa-xl" style="color: red;"></i>');
            } else {
                $("#likeBtn_" + postId).html('<i class="fa-regular fa-heart fa-xl" style="color: white;"></i>');
            }
            updateLikeCount(postId, response.total_likes);
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
        });
    }

    // function updateLikeCount(postId, totalLikes) {
    // var likeCountElement = $("#" + postId);
    // if (totalLikes >= 0) {
    //     if (totalLikes == 0) {
    //         likeCountElement.html('');
    //     } else if (totalLikes === 1) {
    //         likeCountElement.html('<b>' + totalLikes + ' like</b>');
    //     } else {
    //         likeCountElement.html('<b>' + totalLikes + ' likes</b>');
    //     }
    // }
    // }

    function updateLikeCount(postId, totalLikes) {
    var likeCountElement = $("#likeCount_" + postId);
    if (totalLikes >= 0) {
        if (totalLikes == 0) {
            likeCountElement.html('');
        } else if (totalLikes === 1) {
            likeCountElement.html('<b>' + totalLikes + ' like</b>');
        } else {
            likeCountElement.html('<b>' + totalLikes + ' likes</b>');
        }
    }
    }

    function followUser(userId) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'follow_user_index' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'user_id': userId,
            },
            success: function(response) {
                var buttons = document.querySelectorAll(".user-" + userId);
                if (response.follows) {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b class="rubik-bold">Following</b>';
                    });
                } else {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b class="rubik-bold">Follow</b>';
                    });
                }
            },
            error: function(xhr, status, error) {
            console.error(xhr.responseText);
            }
        });
    }

    function savePost(postId) {
    event.preventDefault();  // Prevent default form submission
    $.ajax({
        type: "POST",
        url: "{% url 'save_post_index' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'post_id': postId,
        },
        success: function(response) {
            if (response.saved) {
                $("#saveBtn_" + postId).html('<i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>');
            } else {
                $("#saveBtn_" + postId).html('<i class="fa-regular fa-bookmark fa-xl" style="color: white;"></i>');
            }
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
        });
    }
</script>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').alert('close');
        }, 5000); // 5 seconds timeout
    });
</script>


<!-- <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="likesModal" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-content" style="background-color: #141c1f;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:white;"></button>
      </div>
      <div class="modal-body">
        <div class="col">
            {% for user in post.liked_users %}
            <div class="row mt-3 ms-3 me-3 mb-3 d-flex" style="height: 60px">
                <div class="col-auto ps-0">
                  <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover;" src="{{ user.profile.profile_picture.url }}" alt="Comment Author Profile Picture"/>
                </div>
                <div class="col ps-0 pe-0" style="max-width: 300px;">
                  <a href="{% url 'profile' user.profile.pk %}" style="color: white; text-decoration: none;"><b>{{ user.username }}</b></a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div> -->

{% endblock %}