{% extends 'home/base.html' %}

{% block content %}

<div class="container ps-0 pe-0">

    <!-- <div class="card mb-4" style="height: 220px; background-color:  #28373e;">
        <div class="card-body d-flex align-items-center justify-content-center">
            <h1><b>My Feed</b></h1>
        </div>
    </div> -->

    {% if following_posts %}
    {% for post in following_posts %}
    <div class="row d-flex align-items-center justify-content-center mb-3">
        <div class="card ps-0 pe-0 post-background" style="width: 50rem;">
            <div class="card-header pt-2 pb-2">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <a href="{% url 'profile' post.author.pk %}">
                        <img
                        class="rounded-circle"
                        style="height: 40px; width: 40px;  object-fit: cover;"
                        src="{{ post.author.profile_picture.url }}"
                        alt="Author Profile Picture"
                        />
                        </a>
                    </div>
                    <div class="col ms-0 ps-0">
                        <a href="{% url 'profile' post.author.pk %}" style="color: white; text-decoration: none;"><b>{{ post.author }}</b></a>
                    </div>
                </div>
            </div>
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image" style="max-height: 600px; object-fit: contain; background-color: black;">
            <div class="card-body">
                <div class="row like-bar">
                    <div class="col-auto ps-0 pe-0">
                        <form id="likeForm{{ post.id }}" onsubmit="event.preventDefault(); likePost('{{ post.id }}')">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="likeBtn_{{ post.id }}" class="like-btn ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_liked %}
                                        <i class="fa-solid fa-heart fa-xl" style="color: red;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-xl" style="color: white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <i class="fa-regular fa-heart fa-xl" style="color: white"></i> -->
                    </div>
                    <div class="col">
                        <a href="{% url 'post_detail' post.author.pk post.pk %}"><i class="fa-regular fa-comment fa-xl" style="color: white;"></i></a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <form id="saveForm{{ post.id }}" onsubmit="event.preventDefault(); savePost('{{ post.id }}')" class="d-flex float-end ms-auto">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="saveBtn_{{ post.id }}" class="ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_saved %}
                                        <i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <button class="d-flex float-end ms-auto" style="background: none; border: none;"><i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i></button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {% if post.total_likes == 0 %}
                        <p class="mt-2 mb-0" id="{{ post.id }}"></p>
                        {% else %}
                            {% if post.total_likes == 1 %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} like</b></p>
                            {% else %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} likes</b></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if post.caption %}
                        <a href="{% url 'profile' post.author.pk %}" style="color: white; text-decoration: none;"><p class="card-text mt-1 mb-1"><b>{{ post.author }}</b></a> {{ post.caption }}</p>
                    {% endif %}
                    {% if post.comments_list %}
                        {% if post.total_comments > 2 %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-0">View all {{ post.total_comments }} comments</p></a>
                        {% else %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-0">View all comments</p></a>
                        {% endif %}
                        {% for comment in post.comments_list|slice:":2" %}
                            <a href="{% url 'profile' comment.author.pk %}" style="color: white; text-decoration: none;"><p class="card-text mt-1 mb-0"><b>{{ comment.author }}</b></a> {{ comment.text }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row d-flex align-items-center mt-1">
                    <p class="card-text d-flex" style="color: gray;">{{ post.created_on|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% endif %}
    <div class="container d-flex align-items-center justify-content-center ps-0 pe-0">
        <div class="card mb-3 post-background" style="width: 50rem; height: 220px;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center text-center">
                <i class="fa-solid fa-circle-check fa-3x mb-3"></i>
                <h2><b>You're all caught up!</b></h2>
            </div>
        </div>
    </div>
            <!-- <div>
                 <p>Find friends on the <a href="{% url 'explore' %}" style="color: white;">explore</a> page!</p>
                <p>When users you follow post something, it will appear here.</p>
            </div> -->
    {% for post in not_following_posts %}
    <div class="row d-flex align-items-center justify-content-center mb-3">
        <div class="card ps-0 pe-0 post-background" style="width: 50rem;">
            <div class="card-header pt-2 pb-2">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <a href="{% url 'profile' post.author.pk %}">
                        <img
                        class="rounded-circle"
                        style="height: 40px; width: 40px;  object-fit: cover;"
                        src="{{ post.author.profile_picture.url }}"
                        alt="Author Profile Picture"
                        />
                        </a>
                    </div>
                    <div class="col ms-0 ps-0">
                        <a href="{% url 'profile' post.author.pk %}" style="color: white; text-decoration: none;"><b>{{ post.author }}</b></a>
                    </div>
                    <div class="col-auto">
                        <form id="followForm{{ post.author.pk }}" onsubmit="event.preventDefault(); followUser('{{ post.author.pk }}')">
                            {% csrf_token %}
                            <button type="submit" id="followBtn_{{ post.author.pk }}" class="btn btn-outline-secondary follow-btn user-{{ post.author.pk }}"><b>Follow</b></button>
                        </form>
                        <!-- <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary"><b>Follow</b></a> -->
                    </div>
                </div>
            </div>
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image" style="max-height: 600px; object-fit: contain; background-color: black;">
            <div class="card-body">
                <div class="row like-bar">
                    <div class="col-auto ps-0 pe-0">
                        <form id="likeForm{{ post.id }}" onsubmit="event.preventDefault(); likePost('{{ post.id }}')">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="likeBtn_{{ post.id }}" class="like-btn ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_liked %}
                                        <i class="fa-solid fa-heart fa-xl" style="color: red;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-xl" style="color: white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                        <!-- <i class="fa-regular fa-heart fa-xl" style="color: white"></i> -->
                    </div>
                    <div class="col">
                        <a href="{% url 'post_detail' post.author.pk post.pk %}"><i class="fa-regular fa-comment fa-xl" style="color: white;"></i></a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <form id="saveForm{{ post.id }}" onsubmit="event.preventDefault(); savePost('{{ post.id }}')" class="d-flex float-end ms-auto">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" id="saveBtn_{{ post.id }}" class="ps-0 pe-0 me-1" style="background: none; border: none;">
                                    {% if post.is_saved %}
                                        <i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-bookmark fa-xl" style="color:white;"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {% if post.total_likes == 0 %}
                        <p class="mt-2 mb-0" id="{{ post.id }}"></p>
                        {% else %}
                            {% if post.total_likes == 1 %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} like</b></p>
                            {% else %}
                                <p class="mt-2 mb-0" id="{{ post.id }}"><b>{{ post.total_likes }} likes</b></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if post.caption %}
                        <a href="{% url 'profile' post.author.pk %}" style="color: white; text-decoration: none;"><p class="card-text mt-1 mb-1"><b>{{ post.author }}</b></a> {{ post.caption }}</p>
                    {% endif %}
                    {% if post.comments_list %}
                        {% if post.total_comments > 2 %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-0">View all {{ post.total_comments }} comments</p></a>
                        {% else %}
                            <a href="{% url 'post_detail' post.author.pk post.pk %}" style="color:gray; text-decoration: none;"><p class="mb-0">View all comments</p></a>
                        {% endif %}
                        {% for comment in post.comments_list|slice:":2" %}
                            <a href="{% url 'profile' comment.author.pk %}" style="color: white; text-decoration: none;"><p class="card-text mt-1 mb-0"><b>{{ comment.author }}</b></a> {{ comment.text }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row d-flex align-items-center mt-1">
                    <p class="card-text d-flex" style="color: gray;">{{ post.created_on|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- <script>
    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    document.addEventListener('DOMContentLoaded', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        setTimeout(() => {
            window.scrollTo(0, scrollPosition || 0);
        }, 100); // Adjust the delay as needed
    });
</script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function likePost(postId) {
    event.preventDefault();  // Prevent default form submission
    $.ajax({
        type: "POST",
        url: "{% url 'like_post_index' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'post_id': postId,
        },
        success: function(response) {
            if (response.liked) {
                $("#likeBtn_" + postId).html('<i class="fa-solid fa-heart fa-xl" style="color: red;"></i>');
                updateLikeCount(postId, response.total_likes);
            } else {
                $("#likeBtn_" + postId).html('<i class="fa-regular fa-heart fa-xl" style="color: white;"></i>');
                updateLikeCount(postId, response.total_likes);
            }
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
        });
    }

    function updateLikeCount(postId, totalLikes) {
    var likeCountElement = $("#" + postId);
    if (totalLikes >= 0) {
        if (totalLikes == 0) {
            likeCountElement.html('');
        } else if (totalLikes === 1) {
            likeCountElement.html('<b>' + totalLikes + ' like</b>');
        } else {
            likeCountElement.html('<b>' + totalLikes + ' likes</b>');
        }
    }
    }

    function followUser(userId) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'follow_user_index' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'user_id': userId,
            },
            success: function(response) {
                var buttons = document.querySelectorAll(".user-" + userId);
                if (response.follows) {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b>Following</b>';
                    });
                } else {
                    buttons.forEach(function(button) {
                        button.innerHTML = '<b>Follow</b>';
                    });
                }
            },
            error: function(xhr, status, error) {
            console.error(xhr.responseText);
            }
        });
    }

    function savePost(postId) {
    event.preventDefault();  // Prevent default form submission
    $.ajax({
        type: "POST",
        url: "{% url 'save_post_index' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'post_id': postId,
        },
        success: function(response) {
            if (response.saved) {
                $("#saveBtn_" + postId).html('<i class="fa-solid fa-bookmark fa-xl" style="color:white;"></i>');
            } else {
                $("#saveBtn_" + postId).html('<i class="fa-regular fa-bookmark fa-xl" style="color: white;"></i>');
            }
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
        });
    }
</script>


<!-- <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="likesModal" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-content" style="background-color: #141c1f;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:white;"></button>
      </div>
      <div class="modal-body">
        <div class="col">
            {% for user in post.liked_users %}
            <div class="row mt-3 ms-3 me-3 mb-3 d-flex" style="height: 60px">
                <div class="col-auto ps-0">
                  <img class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover;" src="{{ user.profile.profile_picture.url }}" alt="Comment Author Profile Picture"/>
                </div>
                <div class="col ps-0 pe-0" style="max-width: 300px;">
                  <a href="{% url 'profile' user.profile.pk %}" style="color: white; text-decoration: none;"><b>{{ user.username }}</b></a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div> -->

{% endblock %}